name: RfrmLib Build and Test  # Имя workflow, отображается в интерфейсе GitHub Actions
on: 
  push:  # Запускается при каждом push в репозиторий
    branches:
      - dev # ветки, для которых нужно запускать тесты

jobs:  # Определяет набор задач (jobs), которые будут выполнены
  service-build:  # Имя задачи
    runs-on: windows-latest  # на каком окружении будет выполняться задача
    steps:  # Список шагов, которые будут выполнены в рамках задачи
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Restore NuGet packages
        run: |
          nuget restore Reformer.sln # Ваш sln-файл решения
      - name: Build solution
        run: |
          msbuild /p:Configuration=Release /m Reformer.sln # Сборка решения
      - name: Run tests
        working-directory: RfrmLib.Tests
        run: dotnet test RfrmLib.Tests.csproj --verbosity normal  # Выполняет команду dotnet test для запуска юнит-тестов
